* {
    margin: 0;
    border: 0;
}

.keania-one-regular {
    font-family: "Keania One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: #BE9C78;
}

main {
    display: flex;
    flex-direction: column;
    background-color: #BE9C78;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 20%;
    font-family: "Keania One", sans-serif;
    color: #CB0001;
    font-size: 500%;
    padding: 1%;
}

.mainContainer {
    display: flex;
    flex-wrap: wrap;
    background-color: #C1B09F;
    width: 100%;
    height: 700px;
    justify-content: space-around;
    align-items: center;

}

.input-container {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    width: 50%;
    height: 80%;
    border-radius: 15px;
    margin: 5px;
    align-items: center;
    padding: 25px;
    box-shadow: #877b70 5px 5px 5px;

}

.input-container:hover {
    box-shadow: #877b70 5px 5px 15px;
}

.output-container {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 80%;
    border-radius: 15px;
    margin: 5px;
    align-items: center;
    padding: 25px;
    background-color: #C1B09F;
    visibility: hidden;
}

.output-container:hover {
    box-shadow: #877b70 5px 5px 15px;
}

.input-text {
    width: 90%;
    height: 90%;
    padding: 15px;
    text-align: center;
    font-size: x-large;
    border-radius: 10px;
    background-color: #ffffff;
    color: #3b3b3b;
}

::placeholder {
    color: #ad9e8f;
    font-size: 1.5em;
  }

.input-text:focus {
    outline: none;
    box-shadow: #877b70 2px 2px 5px;
    color: #3b3b3b;
    
}

.output-text {
    display: flex;
    width: 90%;
    height: 90%;
    padding: 15px;
    text-align: center;
    font-size: x-large;
    background-color: #C1B09F;
    color: #3b3b3b;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
}

.output-text:focus {
    outline: none;
}

.buttons-container {
    display: flex;
    width: 50%;
    justify-content: space-between;
    margin-top: 20px;
}

.button-encode {
    width: 110px;
    height: 35px;
    border-radius: 10px;
    font-size: x-large;
    cursor: pointer;
    background-color: #C1B09F;
    color: #ad9e8f;
}

.button-encode:hover {
    transform: scale(1.2);
    background-color: #A17343;

}

.button-decode {
    width: 110px;
    height: 35px;
    border-radius: 10px;
    font-size: x-large;
    cursor: pointer;
    background-color: #C1B09F;
    color: #ad9e8f;
}

.button-decode:hover {
    transform: scale(1.2);
    background-color: #A17343;
}

.button-copy {
    width: 110px;
    height: 35px;
    border-radius: 10px;
    background-color: #C1B09F;
    font-size: x-large;
    cursor: pointer;
    margin-top: 20px;
    visibility: hidden;
    color: #ad9e8f;

}

.button-copy:hover {
    transform: scale(1.2);
    background-color: #A17343;

}