* {
    margin: 0;
    border: 0;
}

.keania-one-regular {
    font-family: "Keania One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: #151515;
}

main {
    display: flex;
    flex-direction: column;
    background-color: #151515;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 20%;
    font-family: "Keania One", sans-serif;
    color: #b81e1e;
    font-size: 500%;
    padding: 1%;
    margin: 15px;
}

.mainContainer {
    display: flex;
    flex-wrap: wrap;
    background-color: grey;
    width: 100%;
    height: 75vh;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;

}

.input-container {
    display: flex;
    flex-direction: column;
    background-color: grey;
    width: 30%;
    height: 80%;
    border-radius: 15px;
    margin: 5px;
    align-items: center;
    padding: 25px;
    box-shadow: #464646 5px 5px 15px;

}

.input-container:hover {
    opacity: 60%;
    background-color: #d7d7d7;
}

.output-container {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 80%;
    border-radius: 15px;
    margin: 5px;
    align-items: center;
    padding: 25px;
    background-color: grey;
    visibility: hidden;
}

.output-container:hover {
    box-shadow: #464646 5px 5px 15px;
    opacity: 60%;

}

.input-text {
    width: 90%;
    height: 90%;
    padding: 15px;
    text-align: center;
    font-size: x-large;
    border-radius: 10px;
    background-color: transparent;
    color: #3b3b3b;
    outline: none;

}

::placeholder {
    color: #3b3b3b;
    font-size: large;
}


.output-text {
    display: flex;
    width: 90%;
    height: 90%;
    padding: 15px;
    text-align: center;
    font-size: x-large;
    background-color: grey;
    color: #3b3b3b;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
}

.output-text:focus {
    outline: none;
}

.input-instructions {
    color: #b81e1e;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    align-self: flex-start;
    visibility: visible;
}

.buttons-container {
    display: flex;
    width: 50%;
    justify-content: space-between;
    margin-top: 20px;
}

.button-encode {
    width: auto;
    height: auto;
    border-radius: 40px;
    padding: 10px;
    font-size: large;
    cursor: pointer;
    background-color: transparent;
    color: #5b5b5b;
    visibility: visible;
}

.button-encode:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
    background-color: #000000;

}

.button-decode {
    width: auto;
    height: auto;
    border-radius: 40px;
    padding: 10px;
    font-size: large;
    cursor: pointer;
    background-color: transparent;
    color: #5b5b5b;
    visibility: visible;
}

.button-decode:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
    background-color: #000000;
}

.button-copy {
    width: auto;
    height: auto;
    border-radius: 100%;
    background-color: transparent;
    font-size: x-large;
    cursor: pointer;
    margin-top: 20px;
    visibility: hidden;
    color: #5b5b5b;
    padding: 2px;
    align-self: flex-end;

}

.button-copy:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease;
    background-color: #000000;

}

.button-delete {
    width: auto;
    height: auto;
    border-radius: 100%;
    background-color: transparent;
    font-size: x-large;
    cursor: pointer;
    color: #5b5b5b;
    padding: 2px;
    visibility: hidden;
}

.button-delete:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease;
    background-color: #000000;

}

@media screen and (max-width:800px){
    .input-container {
        width: 80%;
        height: 40%;
    }
    .output-container {
        width: 80%;
        height: 40%;
    }
}
@media screen and (max-width:480px){
    .input-container {
        width: 75%;
        height: 35%;
    }
    .output-container {
        width: 75%;
        height: 35%;
    }
    header {
        font-size: 300%;
    }
    .buttons-container {
        width: 100%;
        justify-content: center;
    }
    .mainContainer {
        height: 78vh;
    }
}